body {
  background-color: #1f2028;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: lato;
  letter-spacing: 0.5rem;
  font-size: 6rem;
  color: white;
}

h2 {
    font-family: lato;
    font-weight: 100;
    font-size: 2rem;
    color: white;
  }

p {
  font-family: lato;
  font-weight: 100;
  font-size: 2rem;
  color: white;
}
